/* body {
  font-family: Arial, sans-serif;
  background: #f5f6fa;
  display: flex;
  justify-content: center;
  padding: 40px;
} */

body {

  font-family: "Courier New", monospace;

  background-color: #f4f4f4;

  background-image:
    radial-gradient(circle at 25% 25%, rgba(0,0,0,0.03) 2px, transparent 2px),
    radial-gradient(circle at 75% 75%, rgba(0,0,0,0.03) 2px, transparent 2px);

  background-size: 60px 60px;

  display: flex;
  justify-content: center;
  padding: 40px;

}

.container {

  width: 520px;

  background: white;

  padding: 30px;

  border: 2px solid black;

  box-shadow: 6px 6px 0px black;

}

h1 {
  text-align: center;
}

.task-input {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.task-input input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {

  display: flex;
  justify-content: space-between;

  padding: 12px;

  margin-top: 10px;

  border-bottom: 1px dashed black;

}

.completed span {
  text-decoration: line-through;
  color: gray;
}

/* Progress Bar */

/* --------------------------
   Sketch Style Progress Bar
-------------------------- */

.progress-section {
  margin: 18px 0;
}

.progress-bar {

  width: 100%;
  height: 16px;

  border: 2px solid black;

  background: repeating-linear-gradient(
    45deg,
    #f4f4f4,
    #f4f4f4 6px,
    #eaeaea 6px,
    #eaeaea 12px
  );

  position: relative;
  overflow: hidden;

}

/* actual progress fill */

#progress {

  height: 100%;
  width: 0%;

  background: repeating-linear-gradient(
    -45deg,
    black,
    black 4px,
    transparent 4px,
    transparent 8px
  );

  transition: width 0.35s ease;

}

#progressText {

  font-size: 12px;
  margin-top: 8px;
  font-style: italic;
  letter-spacing: 1px;
  text-align: right;
  opacity: 0.8;

}

/* Burn animation when completing task */

.burn {
  animation: burnTask 0.5s forwards;
}

@keyframes burnTask {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.5;
    transform: scale(1.05);
    background: #fee2e2;
  }

  100% {
    opacity: 0;
    transform: translateX(40px);
  }
}


/* Incognito mode */

.incognito span {
  filter: blur(6px);
  transition: filter 0.2s;
}

/* Reveal text on hover */

.incognito li:hover span {
  filter: blur(0);
}